<nav class="container">
  <ul>
    <li><strong>Buff</strong></li>
  </ul>
  <ul>
    <li><a href="#">Link</a></li>
  </ul>
</nav>
<main class="container">
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
